body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.redtext {
	color: red;
}

.columnTitle {
	margin-left:150px;
}

.userInfo {
    margin-top: 25px;
    padding: 15px 15px;
    background-color: #222222;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0px 2px #999797;
}
.underline {
	bottom:0;
	border: 1px solid black;
}
.v-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.listItem {
    padding: 15px 15px;
	background-color: #FAFAFA;
    border-radius: 5px;
	margin-top:10px;
    border-left: 16px solid rgba(70, 255, 0, 0.56);
}
.imageDiv {
    width: 15%;
    /* max-width: 140px; */
    display: inline-block;
}
.listImage {
    width: 100%;
    max-width: 140px;
    height: auto;
    display: inline-block;

}

.listName {
	display:inline-block;
	width:30%;
	/*background-color:red;*/
}
.listStatus {
	display:inline-block;
	/*background-color:green;*/
	width:30%;
	text-align:center;
}
.listTime {
	width:30%;
	text-align:right;
	/*background-color:orange;*/
	display:inline-block;
}
.innerDiv {
    margin-left: 10px;
    display: inline-block;
    /* background-color: palevioletred; */
    width: 83%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.innerDivUser {
    height: 125px;
	margin-left:5px;
	display:inline-block;
	vertical-align:middle;
    width: 83%;

}
.innerDivUser span {
	font-family: 'Lato', sans-serif;
    font-size: 22px;
}
.ddStatus {
	margin:10px 0px;
}
.inputTime {
	border-radius: 4px;
    border-style: hidden;
    padding: 5px;
	outline:none;
}
.option-style{

}
.available{
    background-color: rgba(81,202,66,1);
}
.busy{
    background-color: rgb(202, 66, 66);
}
.busy-s{
    background-color: rgb(202, 116, 66);
}
.away{
    background-color: rgb(202, 192, 66);
}
.btn-group > .btn:first-child {
    width: 160px;
}
.dropdown-menu > li > a:hover{
   /*background-color: rgba(255, 255, 255, 0.19);*/
}


@media only screen and (max-width: 767px) {
    .innerDivUser {
    width: 73%;

}

	.imageDiv {
		width: 20%;
	}
	.listName {
	    width: 100%;
		display:block;
	}
	.listStatus {
		 width: 100%;
		display:block;
		text-align:left;
	}
	.listTime {
		width: 100%;
		display:block;
		text-align:left;
	}
	.innerDiv {
		width:75%;
		vertical-align: middle;
		font-size: 16px;
	}

}


@media only screen and (max-width: 500px) {
	.imageDiv {
		width:30%;
	}
	.innerDiv {
		width:60%;
	}
	.innerDivUser {
		width: 50%;
	}

	.inputTime {
		margin-bottom:5px;
	}
}
@media only screen and (max-width: 360px) {
	.innerDiv span {
		font-size:14px;
	}
	.innerDivUser span {
    font-size: 16px;
}
}


