body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.redtext {
	color: red;
}

.columnTitle {
	margin-left:150px;
}
.nopadding{
    padding-left:0px;
}

.userInfo {
    height:200px;
    margin-top: 25px;
    padding: 15px 15px;
    background-color: #222222;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0px 2px #999797;
}

.v-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.listItem {
    height:118px;
    padding: 15px 5px;
	background-color: #FAFAFA;
    border-radius: 5px;
	margin-top:10px;
}
.status-10{
    border-left: 16px solid rgba(70, 255, 0, 0.56);
}
.status-20{
    border-left: 16px solid rgba(255, 0, 0, 0.56);
}
.status-30{
    border-left: 16px solid rgba(255, 0, 0, 0.56);
}
.status-40{
    border-left: 16px solid rgba(255, 247, 0, 0.56);
}

.listImage {
    min-width: 140px;
    width: 140px;
    height: auto;
    display: inline-block;

}
.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


h12 {
    font-size: 15px;
    display: block;
    font-family: 'Lato', sans-serif;
}
h11 {
    font-size: 20px;
    display: block;
    font-family: 'Lato', sans-serif;
}

.ddStatus {
	margin:10px 0px;
}
.inputTime {
	border-radius: 4px;
    border-style: hidden;
    padding: 5px;
	outline:none;
}

.col-md-2.image {
    width: 155px;
}

.available{
    background-color: rgba(81,202,66,1);
}
.busy{
    background-color: rgb(202, 66, 66);
}
.busy-s{
    background-color: rgb(202, 116, 66);
}
.away{
    background-color: rgb(202, 192, 66);
}
.btn-group > .btn:first-child {
    width: 160px;
}
.dropdown-menu > li > a:hover{
   /*background-color: rgba(255, 255, 255, 0.19);*/
}
.calldiv{
    float: right;
    margin-right: 20px;
    height:100%;
}




@media only screen and (max-width: 767px) {

    .userInfo {
        margin-top: 0px;
    }

    .col-md-2.image {
        width: 119px;
    }
    .listImage {
        min-width: 100px;
        width: 100px;
    }

}
@media only screen and (max-width: 450px) {

    h11{
        font-size:16px;

    }
    h12{
        font-size: 12px;

    }
    .col-xs-6.textinfo{
        width:40%;
    }
    .listItem {
        height: 105px;
        padding: 0px !important;
    }

    .col-md-2.image {
        width: 95px;
    }
    .listImage {
        min-width: 80px;
        width: 100px;
    }
    
}

@media only screen and (max-width: 450px) {

   
    .col-xs-6.textinfo{
        width:70%;
    }
    .listItem {
        height: 105px;
        padding: 0px !important;
    }

    .col-md-2.image {
        display:none;
    }
    .listImage {
        min-width: 80px;
        width: 100px;
    }
    
}




